{% extends "aldryn_sso/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Create user" %} {% if request.site.name %}{% trans "for " %}{{ request.site.name }}{% endif %}{% endblock page_title %}

{% block panel_body %}
    <h2 class="login-box-title">{% trans "Add local user" %}</h2>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% with field=form.username %}
        <div class="form-group form-required{% if field.errors %} has-error{% endif %}">
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endwith %}
        {% with field=form.is_superuser %}
            {% block form_field %}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="id_is_superuser" name="{{ field.name }}" checked>
                <label class="custom-control-label" for="id_is_superuser">
                    {{ field.label }}
                </label>
            </div>
            {% endblock form_field %}

            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="hidden" name="next" value="{{ next }}" />
        <input class="btn btn-primary btn-block mt-2" type="submit" value="{% trans "Add" %}">
        <a class="btn btn-link btn-block" href="javascript:window.history.back()">Cancel</a>
    </form>
{% endblock %}

{% comment %}
  {# TODO: Might be useful to show to the user (currently only in page title), but hard to assess/design for how big the title will be #}
  {% if request.site.name %}{{ request.site.name }}{% endif %}
{% endcomment %}


