{% extends "aldryn_sso/base.html" %}

{% block page_title %}Your site is ready{% endblock page_title %}

{% block content %}
    <div class="col-xs-24 col-sm-offset-12 col-sm-12">
        <div  class="form-group">
            {% if request.site.name %}<h2 class="project-title">{{ request.site.name }}</h2>{% endif %}
            <h3 class="page-status">Please sign-in</h3>
            <p class="help-block page-explanation">
                To access this protected website, click on the button below to continue with your Divio Aldryn user.
            </p>
        </div>
        <p class="text-left"><a
                class="btn btn-marketing with-brand-icon"
                href="/login/?next={{ request.path|urlencode }}">
                <span aria-hidden="true" class="aldryn-icon"></span>
                Sign in with aldryn
        </a></p>
    </div>
{% endblock content %}
