{% load i18n %}
{# This works because "as" fails silently #}
{% url 'aldryn_sso_login' as aldryn_sso_login_url %}

{% comment %}
`cms_` classes are for CMS 3.0.x/3.1.x
`cms-` classes are for CMS 3.2.x/3.x.x
`cms-btn-active` does what it should do since 3.2 so it's not included anymore
{% endcomment %}

{% if aldryn_sso_login_url %}
    <div class="cms_toolbar-item cms_toolbar-item-buttons cms-toolbar-item cms-toolbar-item-buttons">
        <a href="{{ aldryn_sso_login_url }}?next={{ request.path }}" class="cms_btn cms_btn-active cms_btn-action cms-btn cms-btn-action">{% trans "Log in" %}</a>
    </div>
{% endif %}
