{% load i18n %}

<form action="{% url 'aldryn_sso_login' %}" method="post" role="form">
    {% csrf_token %}
    <div class="form-group">
        <h2>{% trans "Login" %}</h2>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="icon icon-fw icon-user"></span>
            </span>
            <div class="form-group">
                <label class="sr-only" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="254" name="username" placeholder="{{ form.username.label }}" required="required" type="text" value="{{ form.username.value|default_if_none:"" }}">
            </div>
        </div>
        <div class="help-text">
            <div class="spacer-xs"></div>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="icon icon-fw icon-lock"></span>
            </span>
            <div class="form-group">
                <label class="sr-only" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="254" name="password" placeholder="{{ form.password.label }}" required="required" type="password">
            </div>
        </div>
        <div class="spacer-xs"></div>
        <div class="help-text">
            {% comment %}TODO: put me in proper place. On this condition basis even entire login screen can be hidden
            {% if form.invalid_login_counter.too_many_attempts %}{{ form.error_messages.too_many_attempts }}{% endif %}
            {% endcomment %}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% for error in form.non_field_errors %}
        <span class="text-danger">{{ error }}</span><br/><br />
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input class="btn btn-marketing btn-block sso-button" type="submit" value="{% trans 'Sign in' %}">
</form>
