{% load i18n admin_static %}
{% url 'simple-sso-login' as sso_login_url %}
<a
    class="btn btn-marketing with-brand-icon btn-block"
    href="{{ sso_login_url }}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}">
    <span aria-hidden="true" class="aldryn-icon"></span>
    {% trans "Sign in with Aldryn" %}
</a>
<div id="login-progress" style="display: none;">checking login...</div>
<div id="login-success" style="display: none;">checking login... logged in!</div>
{% if aldryn_sso_enable_auto_sso_login %}
    <script type="application/javascript">
        // my crude js implementation of auto login. please, someone who
        // actually know what they are doing fix this for me :-)
        var xhr = new XMLHttpRequest();
        var loginProgress = document.getElementsByClassName("login-progress");
        xhr.open('GET', '{{ sso_login_url }}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}');
        xhr.withCredentials = true;
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log('login response');
                console.log(xhr.responseText);
                var response = JSON.parse(xhr.response);
                if (response.is_authenticated === true) {
                    document.getElementById('login-progress').style.display = 'none';
                    document.getElementById('login-success').style.display = 'block';
                    location.reload();
                }
            } else {
                // It is very likely that the request was redirected to the
                // login form on the sso server and we got a CORS error.
                // That is ok, it just means we're not logged in there yet.
                console.log('could not log in. probably the user is not logged in on the sso server yet.');
                document.getElementById('login-progress').style.display = 'none';
            }
        };
        console.log('sending xhr login request');
        document.getElementById('login-progress').style.display = 'block';
        xhr.send(null);
    </script>
{% endif %}

