{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block bodyclass %}{{ block.super }} login{% endblock %}
{% block nav-global %}{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{{ form.media }}
{% endblock %}

{% block content %}
{# This works because "as" fails silently #}
{% url 'aldryn_local_login' as local_login_url %}
{% url 'simple-sso-login' as sso_login_url %}

<div id="content-main" style="text-align: center">
    {% if local_login_url %}
    <a href="{{ local_login_url }}">
    {% elif sso_login_url %}
    <a href="{{ sso_login_url }}">
    {% endif %}
    {% trans "Login" %}
    </a>
</div>

{% endblock %}